

<div class="breadcrumbs">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-6 col-12">
        <div class="breadcrumbs-content">
          <h1 class="page-title">checkout</h1>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-12">
        <ul class="breadcrumb-nav">
          <li><a href="index-2.html"><i class="lni lni-home"></i> Home</a></li>
          <li><a href="index-2.html">Shop</a></li>
          <li>checkout</li>
        </ul>
      </div>
    </div>
  </div>
</div>



<section class="checkout-wrapper section">
 {{#if totalvalue1}}
  <div class="container">
    <div class="button mb-3">
      <a href="/order-address" class="btn animate">Add new Address</a>
    </div>

    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="checkout-steps-form-style-1">
          <ul id="accordionExample">

            <li>

              <h6 class="title" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true"
                aria-controls="collapseThree">Please Choose your delivery address </h6>
              <section class="checkout-steps-form-content collapse show" id="collapseThree"
                aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                {{!-- <input class="form-check-input d align-items-start ms-2 p-2" type="radio" name="checkoutAddress"
                  onclick="selectAddress('1')" id="123"> --}}
                {{#each addres}}

                <div class="row">

                  <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-grid" role="tabpanel" aria-labelledby="nav-grid-tab">
                      <div class="row">
                        <div class="col-lg-12 col-md-12 col-12">

                          <div class="single-product">
                            <div class="row align-items-center">
                              <div class="col-lg-4 col-md-4 col-12">
                                <div class="product-image">
                                  {{!-- <img src="assets/images/products/product-3.jpg" alt="#"> --}}
                                  <div class="button">
                                    {{!-- <a href="product-details.html" class="btn"><i class="lni lni-cart"></i>
                                      Add to
                                      Cart</a> --}}
                                  </div>
                                </div>
                              </div>


                              <div class="col-lg-8 col-md-8 col-12">


                                <label for="radio"> Select</label>
                                <input class="form-check-input d align-items-start ms-2 p-2" type="radio"
                                  name="checkoutAddress" onclick="selectAddress('{{this._id}}')" checked
                                  id="{{this._id}}" value="{{this._id}}">

                                <div class="product-info">

                                  <div class="total-payable">
                                    <input type="text" style="display:none;" id="firstname">

                                    <h6>{{this.firstname}} {{this.lastname}}</h6>
                                    <span> Shipping:</span> <strong>{{this.shipping}}</strong>
                                    <address>

                                      <span> Mob:</span> {{this.mobile}}<br>
                                      {{this.city}}<br>
                                      {{this.pincode}}<br>
                                      {{this.state}}<br>

                                    </address>

                                  </div>

                                </div>
                              </div>





                            </div>


                          </div>


                        </div>
                      </div>
                    </div>

                  </div>

                  {{!--
                  <div class="col-md-12">
                    <div class="steps-form-btn button">

                      <a href="javascript:void(0)" class="btn btn-alt">Save & Continue</a>
                    </div>
                  </div> --}}
                </div>

                {{/each}}
              </section>

            </li>

          </ul>
        </div>
      </div>




      <div class="col-lg-4">

        {{!-- <div class="checkout-sidebar-coupon">
          <p>Appy Coupon to get discount!</p>
          <form action="#">
            <div class="single-form form-default">
              <div class="form-input form">
                <input type="text" id="couponInput" placeholder="Coupon Code">
              </div>
              <div class="button">
                <button class="btn">Apply</button>
              </div>
            </div>
          </form>
        </div> --}}


            <div class="checkout-sidebar-coupon">
            <p>Appy Coupon to get discount!</p>
  
              <div class="single-form form-default">
                <div class="form-input form">
                  <input type="text" placeholder="Coupon Code" name="coupon" id="couponInput">
                </div>
                {{!-- <input type="text" id="couponTotal" name="Total" value="{{total}}" hidden> --}}
                <div class="button">
                  <button class="btn" type="button" onclick="couponApply()">Apply</button>
                </div>
                <p style="color:orangered" id="couperr">{{err}}</p>
              </div>
          </div>
        

          <div class="checkout-sidebar-coupon mt-30">
            <p>Enter the wallet Amount</p>
  
              <div class="single-form form-default">
                <div class="form-input form">
                  <input type="text" placeholder="Wallet amount" name="wallet" id="walletInput">
                </div>
                {{!-- <input type="text" id="couponTotal" name="Total" value="{{total}}" hidden> --}}
                <div class="button">
                  <button class="btn" type="button" onclick="applyWalletAmount()">Apply</button>
                </div>
                <p style="color:orangered" id="walletid"></p>
              </div>
          
          </div>
        <div class="checkout-sidebar">





          <div class="checkout-sidebar-price-table mt-30">
            <div class="container select-items" style="color:rgb(204, 237, 165) height:100 px">
              {{!-- <select type="text" name="size" style="color:blue" value="{{editProducts.size}}"
                class="btn btn-outline-Light style form-control" aria-label="Default select example">
                <option selected>Select Payment Options</option>
                <option value="cod">Cash On Delivery(COD)</option>
              </select> --}}




              <div class="payment">
                <h5 class="title">Payment method</h5>
                <label class=" radio-inline">
                  <input type="radio" name="paymentMethod" onclick="selectPayment('COD')" value="COD" checked> COD
                </label><br>

                <label class="radio-inline mt-2">
                  <input type="radio" name="paymentMethod" onclick="selectPayment('Razorpay')" value="Razorpay"> Razorpay
                </label><br>
                <label class="radio-inline mt-2">
                  <input type="radio" name="paymentMethod" onclick="selectPayment('paypal')" value="paypal"> Paypal
                </label>

              </div>
            </div>
          </div>

          <div class="checkout-sidebar-price-table mt-30">
            <h5 class="title">Pricing Table</h5>
              <div class="sub-total-price">
              
                  <div class="total-price">
       <p class="value">Actual Price:</p>
                  <p class="price" id="totval1">₹ {{actualMRP}}</p>
                  </div>
                   <div class="total-price">
                            <p class="value">Offer discount:</p>
                  <p class="price" id="totval2"> {{totaldiscount}}</p>
                  </div>
                      <div class="total-price">
                            <p class="value">Coupon discount:</p>
                  <p class="price" id="totval5">- {{coupondiscount}}</p>
                  </div>

                        <div class="total-price">
                            <p class="value">Wallet discount:</p>
                  <p class="price" id="totval4">- {{walletdiscount}}</p>
                  </div>

                
               <div class="total-price">
                       <p class="value">Total amount:</p>
                  <p class="price" id="totval">₹ {{totalvalue}}</p>
                       <input type="text" id="totalhidden" value="{{totalvalue}}" style="display:none" name="total">
                  </div>
           
                </div>
              </div>



              <button type="submit" onclick="placeOrder()" class="btn btn-primary">place Order</button>


          </div>

        </div>
      </div>
    </div>
  </div>

    {{else}}
<div class="container justify-content-center">
 
      <div class="row justify-content-center">
         <div class="col-lg-8" >

         <img class="shadow p-3 mb-5 bg-body rounded" style="height:400px; width:500px" src="userasset/images/logo/storeopen.jpg"  alt="#">
    <div class="button justify-content-center">
                  <a href="/show-my-orders" class="btn"> Goto MyOrders</a>
                  <a href="/back-to-home" class="btn btn-alt">Shop again</a>
                </div>
                </div>
         </div>
              
         </div>
    {{/if}}




</section>


 <script src="https://kit.fontawesome.com/7a72d6e1e2.js" crossorigin="anonymous"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<script>
  var checkoutAddressId;
  var paymentMethod;
 

  function selectAddress(addresId) {

    checkoutAddressId = addresId;

  }


  function selectPayment(payment) {

    paymentMethod = payment
  }

  function placeOrder() {


    if (!checkoutAddressId && paymentMethod) {
      swal.fire({
        title: "Please Select Address to Place Order",
        icon: 'warning',
        dangerMode: true,
      })
    }
   else if (!paymentMethod && checkoutAddressId) {
      swal.fire({
        title: "Please Select Payment Method to Place Order",
        icon: 'warning',
        dangerMode: true,
      })
    }
    else if (!paymentMethod && !checkoutAddressId) {
      swal.fire({
        title: "Please Select Address and Payment Method to Place Order",
        icon: 'warning',
        dangerMode: true,
      })
    }
    else {



 let amount = document.getElementById('walletInput').value;
      let couponCode = document.getElementById('couponInput').value
  
      $.ajax({
        url: `/select-orderaddress?payment=${paymentMethod}&addressId=${checkoutAddressId}&code=${couponCode}&wallet=${amount}`,
        method: 'post',
        success: (res) => {
       
          if (res.paymentMethod=='COD') {
            swal.fire("Your Order Placed Successfully")
              .then((value) => {
           
                location.href = '/order-successful'
                
              })
          }
          else if (res.paypal) {
            location.href = res.url
          }
          else {
            
            razorpayPayment(res)
          }
        }
      })


    }
  }




 function couponApply() {
 
    let couponCode = document.getElementById('couponInput').value;


    $.ajax({
      url: '/apply-coupon',
      data: {
        coupon: document.getElementById("couponInput").value,
       
      },
      method: 'post',
      success: (response) => {

        if (response.status && response.total) {

       
        document.getElementById("totval5").innerHTML ="-"+response.coupondiscount;
          document.getElementById("totval").innerHTML ="₹ "+ response.total;
          document.getElementById("totalhidden").value = response.total;
          document.getElementById("couperr").innerHTML = response.err;
          document.getElementById("couperr").style.color ="green";
         
        }else{
             document.getElementById("couperr").innerHTML =response.err;
            document.getElementById("couperr").style.color ="red";

        }

      }
    })

  }





/*****************************************************************/
function applyWalletAmount() {
 
    let amount = document.getElementById('walletInput').value;

    $.ajax({
      url: '/WalletAmount',
      data: {
        amount: amount,
       
      },
      method: 'post',
      success: (response) => {

        if (response.status && response.total) {

     
      document.getElementById("totval4").innerHTML ="-"+response.walletdiscount;
          document.getElementById("totval").innerHTML = "₹ "+response.total;
          document.getElementById("totalhidden").value = response.total;
          document.getElementById("walletid").innerHTML = response.msg;
          document.getElementById("walletid").style.color ="green";
   
        }else{
          document.getElementById("walletid").innerHTML = response.msg;
          document.getElementById("walletid").style.color ="red";
        }

      }
    })


  }




function razorpayPayment(order){

    var options = {
    "key": "rzp_test_gpdw4Vd4R7dTYf", // Enter the Key ID generated from the Dashboard
    "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
    "currency": "INR",
    "name": "Kstyles",
    "description": "Test Transaction",
    "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
    "handler": function (response){

        verifyPayment(response,order)
    },
    "prefill": {
        "name": "Divyadas M P",
        "email": "ranidivyadas@gmail.com",
        "contact": "8086986052"
    },
    "notes": {
        "address": "Kstyles Corporate Office"
    },
    "theme": {
        "color": "#3399cc"
    }
};




var rzp1 = new Razorpay(options);
 rzp1.open();
  }




function verifyPayment(payment,order){


  $.ajax({
    url:'/verify-payment',
    data:{
      payment,
      order
    },
    method:'post',
    success:(response)=>{
      if(response.status){
        location.href='/order-successful'

      }else{
        location.href='/order-failed'
      }
    }
  })
}

function verifyPayment(payment,order){
       $.ajax({
         url:'/verify-payment',
         data:{
           payment,
           order
         },
         method:'post',
         success:(response)=>{
           if(response.status){
              location.href='/order-successful'
           }else{
           
            location.href='/order-failed'
           }
         }
       })
     }





  /* function savePlaceOrder() {
     alert('order-placed')
 var a= document.getElementById('firstname').value
 
 
     $.ajax({
       url: '/place-order',
       data: {
         firstname: 'sa'
         pincode: pin,
         city: city,
         country: country
       },
       method: 'post',
       success: (response) => {
 
         if (response.status) {
           alert('order-placed')
         }
       }
     })
 
   }*/



</script>