<div class="breadcrumbs">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-6 col-12">
        <div class="breadcrumbs-content">
          <h1 class="page-title">Address Collection</h1>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-12">
        <ul class="breadcrumb-nav">
          <li><a href="/back-to-home"><i class="lni lni-home"></i> Home</a></li>
          <li><a href="/back-to-home">Shop</a></li>
          <li>Delivery Addresses</li>
        </ul>
      </div>
    </div>
  </div>
</div>



<section class="checkout-wrapper section pt-5 pb-5">

  <div class="container">
  
    <div class="row justify-content-center">
     
      <div class="col-lg-8">
             <div class="button mb-2">
                        <a href="/userprofile" class="btn animate">User Profile</a>
                    </div>
        <div class="checkout-steps-form-style-1">
          <ul id="accordionExample">

            <li>

              <h6 class="title" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true"
                aria-controls="collapseThree">Find your delivery addresses here</h6>
              <section class="checkout-steps-form-content collapse show" id="collapseThree"
                aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                {{!-- <input class="form-check-input d align-items-start ms-2 p-2" type="radio" name="checkoutAddress"
                  onclick="selectAddress('1')" id="123"> --}}
                {{#each addres}}

                <div class="row">

                  <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-grid" role="tabpanel" aria-labelledby="nav-grid-tab">
                      <div class="row">
                        <div class="col-lg-12 col-md-12 col-12">

                          <div class="single-product">
                            <div class="row align-items-center">
                              <div class="col-lg-4 col-md-4 col-12">
                                <div class="product-image">
                               <img class="float-left" src="/userasset/images/logo/address.jpg" style="width:180px; height:180px;" alt="">
                                  <div class="button">
                                    {{!-- <a href="product-details.html" class="btn"><i class="lni lni-cart"></i>
                                      Add to
                                      Cart</a> --}}
                                  </div>
                                </div>
                              </div>


                              <div class="col-lg-8 col-md-8 col-12">


                                {{!-- <label for="radio"> Select</label>
                                <input class="form-check-input d align-items-start ms-2 p-2" type="radio"
                                  name="checkoutAddress" onclick="selectAddress('{{this.firstname}}')" checked
                                  id="{{this._id}}"> --}}

                                <div class="product-info">

                                  <div class="total-payable">
                                    <input type="text" style="display:none;" id="firstname">

                                    <h6>{{this.firstname}} {{this.lastname}}</h6>
                                    <span> Shipping:</span> <strong>{{this.shipping}}</strong>
                                    <address>

                                      <span> Mob:</span> {{this.mobile}}<br>
                                      {{this.city}}<br>
                                      {{this.pincode}}<br>
                                      {{this.state}}<br>

                                    </address>

                                  </div>


                                  <a href="/edit-address/{{this._id}}" value="edit" class="text-success"><svg
                                      xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                      class="bi bi-pencil" viewBox="0 0 16 16">
                                      <path
                                        d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                                    </svg></a>
                                  <a href="/delete-address/{{this._id}}" value="delete" class="text-success"><svg
                                      xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                      class="bi bi-trash" viewBox="0 0 16 16">
                                      <path
                                        d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                      <path fill-rule="evenodd"
                                        d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                                    </svg></a>

                                </div>
                              </div>





                            </div>


                          </div>


                        </div>
                      </div>
                    </div>

                  </div>

                  {{!--
                  <div class="col-md-12">
                    <div class="steps-form-btn button">

                      <a href="javascript:void(0)" class="btn btn-alt">Save & Continue</a>
                    </div>
                  </div> --}}
                </div>

                {{/each}}
              </section>

            </li>

          </ul>
        </div>
      </div>




    </div>
  </div>
</section>






<script>
  function selectAddress(fname) {

    alert(fname)

  }











  /* function savePlaceOrder() {
     alert('order-placed')
 var a= document.getElementById('firstname').value
 
 
     $.ajax({
       url: '/place-order',
       data: {
         firstname: 'sa'
         pincode: pin,
         city: city,
         country: country
       },
       method: 'post',
       success: (response) => {
 
         if (response.status) {
           alert('order-placed')
         }
       }
     })
 
   }*/



</script>