<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="main-content">

    <div class="page-content">
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0 font-size-18">Welcome !</h4>

                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Dashboard</a></li>
                                <li class="breadcrumb-item active">Ecommerce</li>
                            </ol>
                        </div>

                    </div>
                </div>
            </div>
            <!-- end page title -->

            <div class="row">
                <div class="col-xl-3 col-md-6">
                    <!-- card -->
                    <div class="card card-h-100">
                        <!-- card body -->
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div class="flex-grow-1">
                                    <span class="text-muted mb-3 lh-1 d-block text-truncate"><i
                                            data-feather="shopping-cart"></i> Total Order</span>
                                    <h4 class="mb-3">
                                        <span class="counter-value" data-target="{{totalorders}}">0</span>
                                    </h4>
                                    <div class="text-nowrap">
                                        <span class="badge bg-soft-success text-success">{{totalorders}}</span>
                                        <span class="ms-1 text-muted font-size-13">Till now</span>
                                    </div>
                                </div>

                                {{!-- <div class="flex-shrink-0 text-end dash-widget">
                                    <div id="mini-chart1" data-colors='["#1c84ee", "#33c38e"]' class="apex-charts">
                                    </div>
                                </div> --}}
                            </div>
                        </div><!-- end card body -->
                    </div><!-- end card -->
                </div><!-- end col -->


                <div class="col-xl-3 col-md-6">
                    <!-- card -->
                    <div class="card card-h-100">
                        <!-- card body -->
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div class="flex-grow-1">
                                    <span class="text-muted mb-3 lh-1 d-block text-truncate"><i
                                            data-feather="shopping-cart"></i> Total Users</span>
                                    <h4 class="mb-3">
                                        <span class="counter-value" data-target="{{totalusers}}">0</span>
                                    </h4>
                                    <div class="text-nowrap">
                                        <span class="badge bg-soft-success text-success">{{totalusers}}</span>
                                        <span class="ms-1 text-muted font-size-13">Till now</span>
                                    </div>
                                </div>
                                {{!-- <div class="flex-shrink-0 text-end dash-widget">
                                    <div id="mini-chart3" data-colors='["#1c84ee", "#33c38e"]' class="apex-charts">
                                    </div>
                                </div> --}}
                            </div>
                        </div><!-- end card body -->
                    </div><!-- end card -->
                </div><!-- end col -->

                <div class="col-xl-3 col-md-6">
                    <!-- card -->
                    <div class="card card-h-100">
                        <!-- card body -->
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div class="flex-grow-1">
                                    <span class="text-muted mb-3 lh-1 d-block text-truncate"><i
                                            data-feather="shopping-cart"></i> Total Products</span>
                                    <h4 class="mb-3">
                                        <span class="counter-value" data-target="{{totalproducts}}">0</span>
                                    </h4>
                                    <div class="text-nowrap">
                                        <span class="badge bg-soft-success text-success">{{totalproducts}}</span>
                                        <span class="ms-1 text-muted font-size-13">Till now</span>
                                    </div>
                                </div>
                                <div class="flex-shrink-0 text-end dash-widget">
                                    <div id="mini-chart4" data-colors='["#1c84ee", "#33c38e"]' class="apex-charts">
                                    </div>
                                </div>
                            </div>
                        </div><!-- end card body -->
                    </div><!-- end card -->




                </div><!-- end col -->



                <div class="col-xl-3 col-md-6">
                    <!-- card -->
                    <div class="card card-h-100">
                        <!-- card body -->
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div class="flex-grow-1">
                                    <span class="text-muted mb-3 lh-1 d-block text-truncate"><i
                                            data-feather="shopping-cart"></i> Total Amount</span>
                                    <h4 class="mb-3">
                                        <span class="counter-value" data-target="{{totalincome}}">0</span>
                                    </h4>
                                    <div class="text-nowrap">
                                        <span class="badge bg-soft-success text-success">{{totalincome}}</span>
                                        <span class="ms-1 text-muted font-size-13">Till now</span>
                                    </div>
                                </div>
                                <div class="flex-shrink-0 text-end dash-widget">
                                    <div id="mini-chart4" data-colors='["#1c84ee", "#33c38e"]' class="apex-charts">
                                    </div>
                                </div>
                            </div>
                        </div><!-- end card body -->
                    </div><!-- end card -->
                </div><!-- end col -->
            </div><!-- end row-->



          

                {{!-- sales report monthly --}}

            


            {{!-- Sale Report yearly --}}

   

        </div>

    </div>
    <!-- container-fluid -->
</div>
<!-- End Page-content -->



<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script
    src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>




    
<script>
    // setup 
    $(document).ready(function () {
        $.ajax({
            url: '/admin/chart',
            method: 'get',
         
            success: async (chartDatas) => {
                data1 = []
            
                chartDatas.dailyIncome.map((value) => {
                    data1.push({ x: value._id, y: value.totalAmount })
                })
                const data = {
                    labels: chartDatas.daysOfWeek,
                    datasets: [{
                        label: 'Weekly Sales',
                        data: data1,
                        backgroundColor: [
                            'rgb(60, 60, 60)',
                        ],
                        borderColor: [
                            'red'
                        ],
                        borderWidth: 2
                    }]
                };
                // config 
                const config = {
                    type: 'bar',
                    data,
                    options: {
                        scales: {
                            x: {
                                type: 'time',
                                time: {
                                    unit: 'day'
                                }
                            },
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                };
                // render init block
                const myChart = new Chart(
                    document.getElementById('myChart'),
                    config
                );
            }
        })
    })
    $(document).ready(function () {
        $.ajax({
            url: '/admin/chart',
            method: 'get',
            
            success: (response) => {
                let data2 = []
                response.yearlyIncome.map((value) => {
                    data2.push({ x: value._id, y: value.total })
                })
                const ctx = document.getElementById('myChart2').getContext('2d');
                const myChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        datasets: [{
                            label: 'Yearly Sales Report',
                            data: data2,
                            backgroundColor: [
                                'rgba(167, 15, 93, 0.8)'
                            ],
                            borderColor: [
                                'red'
                            ],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });
            }
        })
    })
    $(document).ready(function () {
        $.ajax({
            url: '/admin/chart',
            method: 'get',
            success: (response) => {

                let data3 = []
                response.month.map((value) => {
                    data3.push({ x: value._id, y: value.totalAmount })
                })
                const ctx = document.getElementById('myChart3').getContext('2d');
                const myChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        datasets: [{
                            label: 'Monthly Sales Report',
                            data: data3,
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 206, 86, 0.2)',
                                'rgba(75, 192, 192, 0.2)',
                                'rgba(153, 102, 255, 0.2)',
                                'rgba(255, 159, 64, 0.2)'
                            ],
                            borderColor: [
                                'rgba(255, 99, 132, 1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(255, 159, 64, 1)'
                            ],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });
            }
        })
    })
</script>
{{!-- side bar --}}
<script>
    let sidebar = document.querySelector(".sidebar");
    let sidebarBtn = document.querySelector(".sidebarBtn");
    sidebarBtn.onclick = function () {
        sidebar.classList.toggle("active");
        if (sidebar.classList.contains("active")) {
            sidebarBtn.classList.replace("bx-menu", "bx-menu-alt-right");
        } else
            sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
    }
</script>