{{!-- 
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.0/css/jquery.dataTables.css">
  
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.0/js/jquery.dataTables.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  
<link rel="stylesheet" type="text/css" href="DataTables/datatables.min.css" />
    <script type="text/javascript" src="DataTables/datatables.min.js"></script> --}}


  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<div class="main-content">

    <div class="page-content">
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0 font-size-18">Category Management</h4>

                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Ecommerce</a></li>
                                <li class="breadcrumb-item active">Categories</li>
                            </ol>
                        </div>

                    </div>
                </div>
            </div>
            <!-- end page title -->

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">


                            
                            <div class="row mb-2">
                                <form action="/admin/search-category" method="get" >
                                <div class="col-sm-4">
                                    <div class="search-box me-2 mb-2 d-inline-block">
                                        <form class="p-3" action="/admin/search-category" method="get">
                                            <div class="form-group m-0">
                                                <div class="input-group">
                                                    <input type="text" name="searchdata" class="form-control"
                                                        placeholder="Search ..." aria-label="Search Result">

                                                    <button class="btn btn-primary" type="submit"><i
                                                            class="mdi mdi-magnify"></i></button>


                                                </div>



                                            </div>
                                        </form>
                                    </div>
                                </div>
                                </form>
                                <div class="col-sm-11">
                                    <div class="text-sm-end">
                                        <a href="/admin/add-category"
                                            class="btn btn-success btn-rounded waves-effect waves-light mb-2 me-2"><i
                                                class="mdi mdi-plus me-1"></i> Add New Category</a>
                                    </div>
                                </div><!-- end col-->
                            </div>

                            <div class="table-responsive">
                                <table  id="hey_table" class="table align-middle table-nowrap table-check" >
                                    <thead class="table-light">
                                        <tr>
                                            <th style="width: 20px;" class="align-middle">
                                          
                                            </th>
                                            <th scope="col">No.</th>
                                            <th class="align-middle">Category Name</th>
                                            <th class="align-middle">Image</th>
                                            <th class="align-middle">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>


                                        {{#each categoryList}}
                                        <tr>
                                            <form action="/admin/editEachCategory" method="post">
                                             
                                           <td>

                                           </td>

                                              <th class="align-middle" scope="row">{{inc @index}}</th>
                                                <td name="category">{{this.category}}</td>
                                        
                                                <td>
                                                    <img src="{{this.Image}}" alt="Italian Trulli" width="58px">
                                                </td>
                                            
                                                <td>
                                                    <div class="d-flex gap-3">
                                                        <a   href="/admin/editEachCategory/{{this.id}}" value="Edit"
                                                            class="text-success"><i
                                                                class="mdi mdi-pencil font-size-18"></i></button>
                                                            <a data-method="delete" type="submit" onclick="confirmDelete1('{{this.id}}')"
                                                             
                                                                class="text-danger"><i
                                                                    class="mdi mdi-delete font-size-18"></i></a>
                                                    </div>
                                                </td>
                                            </form>
                                        </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                   
                        </div>
                    </div>
                </div>
            </div>
            <!-- end row -->

        </div> <!-- container-fluid -->
    </div>
    <!-- End Page-content -->


    {{!-- <footer class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">
                    <script>document.write(new Date().getFullYear())</script> © Divya.
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end d-none d-sm-block">
                        Design & Develop by <a href="#!" class="text-decoration-underline">Themesbrand</a>
                    </div>
                </div>
            </div>
        </div>
    </footer> --}}
</div>



<script>
    function confirmDelete1(id){




    
 Swal.fire({
                title: 'Do you want to delete?',
                showCancelButton: true,
                confirmButtonColor: '#34c38f',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Confirm'
            }).then((result) => {

              
                if (result.isConfirmed) {
                   
                    window.location = `/admin/deleteEachCategory/${id}`;
                }
         
            })

           

    }










</script>