<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->


<div class="main-content">

    <div class="page-content">
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0 font-size-18">Order Management</h4>

                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Ecommerce</a></li>
                                <li class="breadcrumb-item active">Orders</li>
                            </ol>
                        </div>

                    </div>
                </div>
            </div>
            <!-- end page title -->
            {{!-- <div class="button text-sm-end">

                <a href="/admin/manage-users" type="submit" name="adduser"
                    class="btn btn-success btn-rounded waves-effect waves-light mb-2 me-2">All users</a>
            </div> --}}
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row mb-2">
                                <div class="col-sm-4">
                                    <div class="search-box me-2 mb-2 d-inline-block">
                                        <form class="p-3" action="/admin/user-search" method="get">
                                            <div class="form-group m-0">
                                                <div class="input-group">
                                                    <input type="text" name="searchdata" class="form-control"
                                                        placeholder="Search ..." aria-label="Search Result">

                                                    <button class="btn btn-primary" type="submit"><i
                                                            class="mdi mdi-magnify"></i></button>


                                                </div>



                                            </div>
                                        </form>
                                    </div>
                                </div>


                                {{#if k}}
                                <div class="col-sm-8">
                                    <div class="button text-sm-end">
                                        <a href="/admin/view-users" type="submit" name="viewusers"
                                            class="btn btn-success btn-rounded waves-effect waves-light mb-2 me-2"><i
                                                class="ri-arrow-go-back-line"></i>View all orders</a>
                                    </div>
                                </div><!-- end col-->
                            </div>

                            {{/if}}

                            <div class="table-responsive">
                                <table id="my_tab" class="table align-middle table-nowrap">
                                    <thead>
                                        <tr>
                                            <th>Sl.</th>
                                            <th>First Name</th>
                                            <th>Last Name</th>
                                            <th>Mobile</th>
                                            <th>Product</th>
                                            <th>Address</th>
                                            <th>Date and Time</th>
                                            <th>Total</th>
                                            <th>Payment</th>
                                            <th>Status</th>
                                            <th>Action</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each Order}}
                                        <tr>

                                            <th class="align-middle" scope="row">{{inc @index}}</th>

                                            {{!-- {{#each userData}} --}}
                                            <td>{{this.deliveryDetails.userfname}}</td>
                                            <td>{{this.deliveryDetails.userlname}}</td>
                                            <td>{{this.deliveryDetails.usermob}}</td>

                                            <td> <a href="/admin/show-products/{{this._id}}" class="btn btn-success"
                                                    value="Details" class="text-secondary hidden" />Details</a></td>

                                            <td>{{this.deliveryDetails.firstname}}
                                                {{this.deliveryDetails.lastname}}<br>{{this.deliveryDetails.mobile}}<br>{{this.deliveryDetails.city}}><br>{{this.deliveryDetails.pincode}}<br>{{this.deliveryDetails.state}}
                                            </td>
                                            <td>{{this.date}}<br>{{this.time}}</td>
                                            <td>₹{{this.totalAmount}}</td>
                                            <td>{{this.paymentMethod}}</td>

                                            <td>

                                                <select onchange="deliveryStatus(value,'{{this._id}}')"
                                                    class="custom-select form-control text-dark" style="width: 7rem;">

                                                    <option value="{{this.status}}" name="status"
                                                        onchange="deliveryStatus(status, '{{this._id}}')" selected
                                                        disabled> {{this.status}}
                                                    </option>

                                                    {{!-- <option value="Pending"><strong>Pending</strong></option>
                                                    <option value="Dispached"><strong>Dispached</strong></option>
                                                    <option value="Shipped"><strong>Shipped</strong></option>
                                                    <option value="Deliverd"><strong>Delivered</strong></option>
                                                    <option value="Cancel"><strong>Cancel</strong></option> --}}
                                                      {{#ifEquals this.status "Placed"}}
                                                         <option value="Dispached"><strong>Dispached</strong></option>
                                                    {{/ifEquals}}

                                                    {{#ifEquals this.status "Pending"}}
                                                         <option value="Dispached"><strong>Dispached</strong></option>
                                                    {{/ifEquals}}

                                                    {{#ifEquals this.status "Dispached"}}
                                                         <option value="Shipped"><strong>Shipped</strong></option>
                                                    {{/ifEquals}}

                                                    {{#ifEquals this.status "Shipped"}}
                                                         <option value="Deliverd"><strong>Deliverd</strong></option>
                                                    {{/ifEquals}}
                                                     {{!-- {{#ifEquals this.status "Deliverd"}}
                                                         <option value="Cancel"><strong>Cancel</strong></option> --}}
                                                    {{!-- {{/ifEquals}} --}}
                                                     <option value="Cancel"><strong>Cancel</strong></option>
                                                </select>


                                            </td>



                                            <td>
                                    
                                                <a href="/admin/cancelEachOrder/{{this._id}}" class="btn btn-danger"
                                                    value="delete" class="text-danger">Cancel</a>

                                            </td>
                                        </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
     
                        </div>
                    </div>
                </div>
            </div>
            <!-- end row -->

        </div> <!-- container-fluid -->
    </div>
    <!-- End Page-content -->
</div>



<script>
    function deliveryStatus(status, orderId) {
        $.ajax({
            url: '/admin/change-delivery-status',
            type: 'post',
            data: {
                status: status,
                orderId: orderId
            }
        })
    }
</script>