
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<div class="main-content">

    <div class="page-content">
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0 font-size-18">Product Management</h4>

                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Ecommerce</a></li>
                                <li class="breadcrumb-item active">Products List</li>
                            </ol>
                        </div>

                    </div>
                </div>
            </div>
            <!-- end page title -->

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row mb-2">
                                <div class="col-sm-4">
                                    <div class="search-box me-2 mb-2 d-inline-block">
                                        <form class="p-3" action="/admin/search-products" method="get">
                                            <div class="form-group m-0">
                                                <div class="input-group">
                                                    <input type="text" name="searchdata" class="form-control"
                                                        placeholder="Search ..." aria-label="Search Result">

                                                    <button class="btn btn-primary" type="submit"><i
                                                            class="mdi mdi-magnify"></i></button>


                                                </div>



                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <div class="text-sm-end">
                                        <a href="/admin/add-products"
                                            class="btn btn-success btn-rounded waves-effect waves-light mb-2 me-2"><i
                                                class="mdi mdi-plus me-1"></i> Add New Product</a>
                                    </div>
                                </div><!-- end col-->
                            </div>

                            <div class="table-responsive">
                                <table class="table align-middle table-nowrap">
                                    <thead class="table-light">
                                        <tr>
                                            <th style="width: 20px;" class="align-middle">
                                                {{!-- <div class="form-check font-size-16"> --}}
                                                    {{!-- <input class="form-check-input" type="checkbox" id="checkAll"> --}}
                                                    {{!-- <label class="form-check-label" for="checkAll"></label> --}}
                                                {{!-- </div> --}}
                                            </th>
                                                <th scope="col">No.</th>
                                            <th class="align-middle">Product Name</th>
                                            <th class="align-middle">Code</th>
                                                 <th class="align-middle">Price</th>
                                                  <th class="align-middle">Percentage discount</th>
                                                       <th class="align-middle">Discount price</th>
                                                     <th class="align-middle">Brand</th>
                                               <th class="align-middle">Size</th>
                                            <th class="align-middle">Type</th>
                                             <th class="align-middle">Category</th>
                                             <th class="align-middle">Image</th>
                                            <th class="align-middle">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>


                                        {{#each productList}}
                                        <tr>
                                            <form action="/admin/editEachProduct" method="post" enctype="multipart/form-data">
                                                <td>
                                                    {{!-- <div class="form-check font-size-16">
                                                        <input class="form-check-input" type="checkbox"
                                                            id="orderidcheck01">
                                                        <label class="form-check-label" for="orderidcheck01"></label>
                                                    </div> --}}
                                                </td>
                                                      <th class="align-middle" scope="row">{{inc @index}}</th>
                                                {{!-- <td><a href="javascript: void(0);" class="text-body fw-bold">{{this._id}}</a> --}}
                                                </td>
                                                {{!-- <div style="width:20px; height:auto;"> --}}
                                                <td style="width: 20px; height:auto;" name="name">{{this.name}}</td>
                                                {{!-- </div> --}}
                                                <td  name="code" class="align-middle">
                                                    {{this.code}}
                                                </td>
                                                

                                                <td name="price" class="align-middle">
                                                    {{this.price}}
                                                </td>
                                                <td name="percent" class="align-middle">
                                                    {{this.percentage}}
                                                </td>
                                                <td name="discount" class="align-middle">
                                                    {{this.discount}}
                                                </td>
                                                  
                                                    
                                                <td name="brand" class="align-middle">
                                                    {{this.brand}}
                                                </td>
                                                <td class="align-middle" name="size">
                                                    {{this.size}} 
                                                </td>
                                                <td name="type" class="align-middle">
                                                    {{this.type}}
                                                </td>
                                              
                                                <td>
                                                    <span
                                                        class="badge badge-pill badge-soft-success font-size-12">{{this.category}}</span>
                                                </td>
                                                <td>
                                                    <img src="{{#index_of this.Image 0}}{{/index_of}}" alt="Italian Trulli" width="58px">
                                                </td>
                                             
                                                <td>
                                                    <div class="d-flex gap-3">
                                                        <a href="/admin/edit-products/{{this.id}}" value="Edit"
                                                            class="text-success"><i
                                                                class="mdi mdi-pencil font-size-18"></i></button>

                                                            <a data-method="delete" 
                                                             
                                                                class="text-danger"><i
                                                                    class="mdi mdi-delete font-size-18" onclick="confirmDelete('{{this.id}}');"></i></a>
                                                    </div>
                                                </td>
                                            </form>
                                        </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                            {{!-- <ul class="pagination pagination-rounded justify-content-end mb-2">
                                <li class="page-item disabled">
                                    <a class="page-link" href="javascript: void(0);" aria-label="Previous">
                                        <i class="mdi mdi-chevron-left"></i>
                                    </a>
                                </li>
                                <li class="page-item active"><a class="page-link" href="javascript: void(0);">1</a></li>
                                <li class="page-item"><a class="page-link" href="javascript: void(0);">2</a></li>
                                <li class="page-item"><a class="page-link" href="javascript: void(0);">3</a></li>
                                <li class="page-item"><a class="page-link" href="javascript: void(0);">4</a></li>
                                <li class="page-item"><a class="page-link" href="javascript: void(0);">5</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="javascript: void(0);" aria-label="Next">
                                        <i class="mdi mdi-chevron-right"></i>
                                    </a>
                                </li>
                            </ul> --}}
                        </div>
                    </div>
                </div>
            </div>
            <!-- end row -->

        </div> <!-- container-fluid -->
    </div>
    <!-- End Page-content -->

{{!-- 
    <footer class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">
                    <script>document.write(new Date().getFullYear())</script> © Divya.
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end d-none d-sm-block">
                        Design & Develop by <a href="#!" class="text-decoration-underline">Divyadas M P</a>
                    </div>
                </div>
            </div>
        </div>
    </footer> --}}
</div>

<script>
       function confirmDelete(id){

 Swal.fire({
                title: 'Do you want to logout?',
                showCancelButton: true,
                confirmButtonColor: '#34c38f',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Confirm'
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location = `/admin/deleteEachProduct/${id}`;
            
                }
            })
    }
</script>
